@media screen and (min-width: 250px){
  html{
    text-align: center;
    background: #cccccc;
	font-family: Impact, Arial, sans-serif;
	font-size: 16px;
  }
  
  /*Golden ratio modular scale*/
  
  h1{
    font-size: 4.236em;
    color: white;
    background-color: #0369FF;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 5% 0;
    padding: 2.5%;
  }
  
  h2{
    font-size: 2.618em;
	margin: auto;
    color: #0369FF;
  }

  label{
    font-size:1.2em;
	font-family: Oswald, Arial, sans-serif;
	
  }

  div{
    float: left;
	clear: both;
	margin: 5%;
	text-align: left;
  }
    
  section{
    clear:both;
  }
    
  #contact_info label{
	float:left;
	position: relative;
  }
  
  #contact_info input{
	float: left;
	clear: both;
	position: relative;
	width: 120%;
	margin: 12%;
	height: 2.168em;
  }
  
  #submit{
	position: relative;
	clear:both;
    font-family: Impact;
    box-sizing: border-box;
    width: 40%;
    height: 3em;
    background-color: orange;
    color: black;
    font-size: 1.25em;
    border-radius: 30%;
    border: solid thick #0369FF;	
  }
  
  #radio_grp input{
	margin: 5% 0;  
  }
  
}

@media screen and (min-width: 530px){
  #contact_info input{
	width: 250%;
  }
  
  html{
    font-size: 17px;
  }	  
}

@media screen and (min-width: 740px){
  html{
    font-size: 20px;
  }	
  
  h1{
	margin: 0 0 2.5% 0;
  }
  
  
  div{
    float: none;
	clear: none;
	margin: auto;
	left: 10%;
	position: relative;
  }
  
  #radio_grp div{
    left: 15%;
  }
  
  #contact_info label{
	float:left;
	position: relative;
	left: 10%;
	width: 20%;
  }
  
  #contact_info div{
    margin: 2.5% 0;
  }
  
  #contact_info input{
	float:none;
	clear: none;
	position: relative;
	left: 5%;
	margin: 1% 5% 0 0%;
	width: 20%;
	height: 2em;
  }
  
  #submit{
	font-size: 2em;  
    margin: 0 0 5% 0;
  }
  	
}